.sidebar{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: rgba(136, 127, 127, 0.5);
    border-radius: 10px;
    flex-direction: column;
}
.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items:  center;
    color: rgb(44, 42, 42);
}

.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    font-family: 'PT Sans', sans-serif;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

.news-container{
    width: 85%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    border-top: 2px solid #a7a4a4;
    padding: 5px;
}

.news-container-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.6rem;
}

.news-title{
    font-size: 22px;
    font-weight: 600;
    text-align: left;
}

.news-container-bottom{
    width: 100%;
    word-wrap: break-word;
    display: flex;
}

.news-content {
    text-align:left;
    font-size: 18px;
}

.sidebarText{
    font-size: 20px;
    font-weight: 200;
    word-wrap: break-word;
}


.sidebarItem > p {
    padding: 30px;
}

.sidebarList{
    list-style: none;
    margin-bottom: 10px;
}

.sidebarListItem{
    display: inline-block;
    width: 33%;
    margin-top: 15px;
    cursor:  pointer;
}

.sidebarSocial{

    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebarIcon{
    font-size:  30px;
    margin-top: 10px;
    margin-left: 15px;
    cursor: pointer;
}