.act {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.title-act {
    margin-top: 2rem;
}


.form-content-referee {
    margin-top: 3rem;
    background-color: rgb(213, 207, 200);
    width: 65%;
    height: 500px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    display: grid;
}

.form-act {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 6px;
    margin-top: 10rem;
}

.form-input-btn-act {
    width: 30%;
    height: 40px;
    margin-top: 10px;
    border-radius: 2px;
    background: cadetblue;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

.form-input-btn-act:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(89, 122, 156) 0%,
      rgb(116, 160, 236) 100%
    );
    transition: all 0.4s ease-out;
}

.form-label-act {
    display: flex;
    justify-self: left;
    font-size: 1.4rem;
    margin-bottom: 6px;
    color:rgb(0, 0, 0);
}

.form-datetime {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    width: 80%;
}

.form-date {
    display: block;
    padding-left: 10px;
    border-radius: 2px;
    height: 30px;
    width: 30%;
    font-size: 12px;
    border-radius: 12px;
    border-color: rgb(174, 171, 171);
}

.form-time {
    display: block;
    padding-left: 10px;
    border-radius: 2px;
    height: 30px;
    width: 30%;
    font-size: 12px;
    margin-top: 0.7rem;
    border-radius: 12px;
    border-color: rgb(174, 171, 171);
}

.form-inputs-act {
    margin-bottom: 0.5rem;
    width: 80%;
}

.form-input-act {
    display: block;
    padding-left: 10px;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border-radius: 12px;
    font-size: 12px;
    border-color: rgb(174, 171, 171);
}

.form-input-act-text {
    display: block;
    padding-left: 10px;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border-radius: 12px;
    font-size: 12px;
    border-color: rgb(174, 171, 171);
}

.form-input-act::placeholder {
    color: #595959;
    font-size: 12px;
  }