.form-content-match {
    margin-top: 3rem;
    background-color: rgb(213, 207, 200);
    width: 65%;
    height: 650px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    display: grid;
}