.header{
    margin-top: 60px;
    margin-right: 350px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    color: #555
}

.headerTitleSm{
    position: absolute;
    top: 18%;
    font-size: 20px;
}


.headerTitleLg{
    position: absolute;
    top: 13%;
    font-size: 70px;
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover; 
}